<!DOCTYPE html>
<html lang="en" layout:decorate="mainLayout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmers Market</title>
</head>
<body>
<div class="p-4" layout:fragment="main">
    <h2 class="text-2xl py-10  font-bold ">🌾Today's Fresh Products ‍🌾</h2>
    <div class="flex flex-col items-start gap-6">
        <div th:each="product: ${products}" class="rounded-lg  shadow-lg flex flex-row divide-x-2 gap-2 px-4 w-96">
            <img th:src="@{/{imageName}(imageName=${product.img})}" class="w-40 h-40 " alt="product image">
            <div class="flex flex-col pl-4 justify-between py-2">
                <span class="font-bold text-xl " th:text="${product.name}"></span>
                <div>
                    <span class="text-sm font-normal text-stone-700 ">USD <span th:text="${product.price} + '$'"></span></span>
                    <span class="flex flex-row items-center gap-1 text-sm font-normal text-stone-700"><svg
                            xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M12 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
   <path d="M6.835 9h10.33a1 1 0 0 1 .984 .821l1.637 9a1 1 0 0 1 -.984 1.179h-13.604a1 1 0 0 1 -.984 -1.179l1.637 -9a1 1 0 0 1 .984 -.821z"></path>
</svg> <span th:text="${product.weight} + ' Kg'"></span></span>
                    <span class="text-sm font-normal text-stone-700"> <span th:text="${product.inStock}"> </span> left in stock </span>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>

